body {
    margin: 0;
}
#dabble {
    background-color: rgb(66, 66, 66);
}
#main-footer {
    background-color: #000;
    color: #fff;
}
.contact-banner {
    background-image: url(images/telephone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.contact-info {
    height: 600px;
}
.img-fluidxx {
    height: 600px;
    width: 100%;
}
.icon-boxes i {
    width: 81px;
    height: 66px;
    margin-top: 10px;
}
.our-staff {
    background-color: #2d3338;
}