body {
    margin: 0;
}
#dabble {
    background-color: rgb(66, 66, 66);
}
#qwe {
    width: 100%;
    height: 500px;
}
#asd {
    width: 100%;
    height: 500px;
}
#zxc {
    width: 100%;
    height: 500px;
}
#wer {
    width: 100%;
    height: 500px;
}
#bg-box {
    width: 100%;
    height: 200px;
    position: relative;
    background-image: url(images/pic1.jpg);
    background-attachment: fixed;
}
.dark-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}
#what-we-do {
    position: relative;
    width: 100%;
    height: 200px;
    background-image: url(images/pic2.jpg);
    background-attachment: fixed;
}
.mt-4 {
    width: 100%;
    height: 300px;
}
.form-inline {
    display: flex;
    flex-direction: row;
}
input {
    width: 30% !important;
}
#sign-up2 {
    border-radius: 5px !important;
    padding: 0 10px !important;
}
#main-footer {
    background-color: #000;
    color: #fff;
}